body{
    font-family: "Outfit",seif;
    margin:0;
    padding: 0;
    margin-top: 100px;
    /* background-color: #f2f2f2; */
}
.header{
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
input{
    display: none;
}
.left{
    width: 250px;
    height: 100%;
}
.left img{
    margin-top: 15px;
    margin-left: px;
    width: 100%;
}
.right{
    width: 300px;
    height: 100%;
}
.upper{
    width: 100%;
    height: 63.3px;
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 10px;
}
.upper img{
    margin-top: 0;
    width: 40px;
    height: 40px;
}
.upper img:hover{
    cursor: pointer;
}
nav{
    width: 100%;
    height: 63.3px;
    gap: 20px;
    display: flex;
}
nav a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
nav a:hover{
    color: rgb(239, 159, 249);
}
.home-color{
    color: rgb(239, 159, 249);
}
/* .services{
    position: relative;
    display: flex;
    justify-content: center;
} */
.hello{
    position: absolute;
    bottom: 0;
    background-color: white;
    border: 2px solid black;
    opacity: 0;
    transition: opacity 0.2s;
    padding: 5px 10px;
    border-radius: 4px;
    pointer-events: none;
}
.hamburger{
    width: 40px;
    height: 40px;
    display: none;
}
.hamburger img{
    padding-top: 3px;
    width: 36px;
}

.services:hover .hello{
    opacity: 0;
}
.intro{
    width: 100%;
    height: 100%;
    display: flex;
}
section .left{
    width: 50%;
    height: 100%;
}

section .right{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: end;
}
section .right img{
    width: 405px;
}
.left h1{
    margin-top: 10px;
    width: 85%;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
    padding-left: 20px;
}
.left h1 span{
    display: block;
    color: rgb(214, 46, 235);
}
.left p{
    margin-top: 0;
     color: rgb(85, 85, 85);
     font-size: 22px;
     padding-left: 20px;
}
.intro-buttons{
    padding-left: 30px;
}
.intro-buttons button{
    font-size: 20px;
    color: white;
    background-color: #d62eeb;
    border: none;
    padding: 10px 8px;
    border-radius: 10px;
    margin: 5px;
}
.ideas{
    width: 100%;
    display: flex;
    justify-content: center;
}
.ideas h1{
    font-size: 40px;
    font-weight: 600;
}

.ideas span{
    color: rgb(214, 46, 235);
}
.blocks{
    width: 100%;
    height: 400px;
}
.blocks .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.blocks .cells{
    border: 3px solid #d62eeb;
    border-radius: 15px;
    box-shadow: 0  6px 8px rgba(0,0,0,0.2);
    width: 330px;
    height: 270px;
    text-align: center;
}
.blocks .cells h1{
    margin:0;
    margin-top: 12px;
}
.cells p{
    color: rgb(85, 85, 85);
    font-size: 18px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.cells h1{
    font-size: 25px;
}
.cells h1 span{
color: #d62eeb;;
font-size: 30px;
}
.cells-buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
}
.cells-buttons button{
    color: white;
    background-color: #d62eeb;
    font-size: px;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.pricing{
    width: 100%;
    /* height: 620px; */
    display: flex;
}
.pricing-right{
    width: 48%;
    border: 2px solid #d62eeb;
    border-radius: 20px;
}
.pricing .pricing-left{
    width: 50%;
    height: 100%;
}
.pricing-left .p{
    margin-top: 0;
    color: #a11afe;
    padding-left: 20px;
}
.pricing-left p{
    padding-left: 20px;
}
.pricing-left h1 span{
    color: #a11afe;
}
.pricing-left h1{
    margin-top: 0;
    font-size: 40px;
    padding-left: 20px;
    font-weight: 600;
}
.pricing-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pricing-button button{
    background-color: #d62eeb;
    color: white;
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
}
.pricing-reviews{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.review-1 h1  ,.review-2 h1 ,.review-3 h1{
    margin-bottom: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.review-1 p,.review-2 p,.review-3 p{
    margin-top: 0;
    text-align: center;
}
.pricing-contact{
    display: flex;
    justify-content: center;
    gap: 200px;
}
.starting-price{
    text-align: center;
}
.starting-price h2{
    margin-top: 0;
}
.contact-button{
    display: flex;
    align-items: center;
}
.contact-button button{
    padding: 15px 25px;
    color: white;
    background-color: #d62eeb;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
}
.right-services ol{
    margin-top: 0;
}
.right-services p{
    padding-left: 23px;
    margin-right: 20px;
    color: rgb(85, 85, 85);
    font-size: 14px;
}
.right-services h2{
    padding-left: 23px;
    font-size: 20px;
    font-weight: 600;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}
.our-services span{
    color: black;
}
.right-services .our-services{
    margin-bottom: 0;
    color: black;
}
@media (max-width:1171px) and (min-width:1147px){
    .ideas{
        margin-top: 50px;
    }
}
@media (max-width:1146px) and (min-width:867px){
    .ideas{
        margin-top: px;
    }
}
@media (max-width:866px) and (min-width:821px){
    .left h1{
        font-size: 40px;
    }
    .left p{
        font-size: 18px;
    }
    .ideas h1{
        font-size: 35px;
    }
}
@media (max-width:820px){
    nav{
        position: absolute;
        background-color: white;
        top: 100px;
        left: 0;
        width: 100%;
        height: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition: 0.5s;
        overflow: hidden;
    }
    .upper{
        gap: 10px;
        display: flex;
        justify-content: end;

    }
    .hamburger{
        display: block;
    }
    label{
        width: 40px;
        height: 25px;
        margin-right: 10px;
        position: relative;
    }
    label div{
        width: 100%;
        height: 5px;
        background-color: purple;
        position: absolute;
        transform: translateY(-50%);
        border-radius: 15px;
        transition: 0.3s;
    }
    label div:nth-child(1){
        top: 0%;
    }
    label div:nth-child(2){
        top: 50%;
    }
    label div:nth-child(3){
        top: 100%;
    }
    input:checked + header nav{
        height: 100vh;
    }
    input:checked + header label div:nth-child(1){
        transform: rotate(45deg);
        top: 50%;
    }
    input:checked + header label div:nth-child(2){
        display: none;
    }
    input:checked + header label div:nth-child(3){
        transform: rotate(-45deg);
        top: 50%;
    }
    input:checked + header nav{
        display: flex;
        flex-direction: column;
    }
    .intro .right{
        display: none;
    }
    .intro{
        height: 100%;
    }
    section .left{
        width: 100%;
        text-align: center;
        height: 100%;
    }
    .left h1{
        width: 100%;
    }
    .ideas{
        text-align: center;
    }
    .ideas h1{
        font-size: 35px;
    }
    /* .cards{
        flex-direction: column;
    } */
}
@media (max-width:770px){
.intro{
    width: 100%;
    height: 100%;
}
    section .left{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .intro .left h1{
        width: 100%;
        text-align: center;
        font-size: 35px;
        margin-top: 0;
    }
    .intro .left p{
        font-size: 16px;
    }
    .intro .intro-buttons button{
        font-size: 17px;
    }
    .ideas h1{
        font-size: 30px;
    }
    .cards .cells:nth-child(2){
        display: none;
    }
    .cards .cells:nth-child(3){
        display: none;
    }
    .intro .left p{
        padding-left: 5px;
        padding-right: 5px;
    }
}